/* ----------------------------------------------------------------------------
flex
---------------------------------------------------------------------------- */
.flex        { display: flex; flex-wrap: wrap; }
.inline-flex { display: inline-flex; flex-wrap: wrap; }

.gap-xxs { gap: var(--space-xxs); }
.gap-xs  { gap: var(--space-xs); }
.gap-sm  { gap: var(--space-sm); }
.gap-md  { gap: var(--space-md); }
.gap-lg  { gap: var(--space-lg); }

.column      { flex-direction: column; }
.no-wrap     { flex-wrap: nowrap; }

.align-items-center { align-items: center; }
.align-items-start  { align-items: flex-start; }
.align-items-end    { align-items: flex-end; }

.justify-start   { justify-content: flex-start; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-end     { justify-content: flex-end; }

@media (--sm) {
  .column\@sm      { flex-direction: column; }
  .gap-sm\@sm      { gap: var(--space-sm); }
  .justify-start\@sm { justify-content: flex-start; }
}

@media (--md) {
  .gap-md\@md      { gap: var(--space-md); }
  .justify-end\@md { justify-content: flex-end; }
}
