/* ----------------------------------------------------------------------------
margin
---------------------------------------------------------------------------- */
.mt-0   { margin-block-start: 0; }
.mt-xs  { margin-block-start: var(--space-xs); }
.mt-sm  { margin-block-start: var(--space-sm); }
.mt-md  { margin-block-start: var(--space-md); }
.mt-lg  { margin-block-start: var(--space-lg); }
.mt-xl  { margin-block-start: var(--space-xl); }
.mt-xxl { margin-block-start: var(--space-xxl); }

.mb-0   { margin-block-end: 0; }
.mb-xs  { margin-block-end: var(--space-xs); }
.mb-sm  { margin-block-end: var(--space-sm); }
.mb-md  { margin-block-end: var(--space-md); }
.mb-lg  { margin-block-end: var(--space-lg); }
.mb-xl  { margin-block-end: var(--space-xl); }

.ml-auto { margin-inline-start: auto; }
.mr-auto { margin-inline-end: auto; }
.mx-auto { margin-inline: auto; }

@media (--md) {
  .mt-lg\@md  { margin-block-start: var(--space-lg); }
  .mt-xl\@md  { margin-block-start: var(--space-xl); }
  .mt-xxl\@md { margin-block-start: var(--space-xxl); }
}
