<header class="site-header">
  <div class="site-header__inner">
    <a class="site-header__brand" rel="author" href="/">{{ site.title | escape }}</a>
    <nav aria-label="Site navigation">
      <ul class="site-nav">
        {% for item in site.header_pages %}
        <li>
          <a class="site-nav__link" href="{{ item.url }}">{{ item.title | escape }}</a>
        </li>
        {% endfor %}
        <li>
          <a class="site-nav__link" href="{{ site.github_repository_url }}">GitHub</a>
        </li>
        <li>
          <select id="theme-picker" class="theme-picker" aria-label="Select theme">
            <option value="">Default</option>
            <option value="cyber-daytime">Cyber Daytime</option>
            <option value="marathon">Marathon</option>
          </select>
        </li>
      </ul>
    </nav>
  </div>
</header>
