---
layout: default
---

{% if title %}
<div class="py-lg px-md border-bottom">
  <div class="line-length-xl mx-auto">
    <h1>{{ title }}</h1>
  </div>
</div>
{% endif %}

{{ content | safe }}

{% if collections.posts.length > 0 %}
<div class="py-xl px-md border-top">
  <div class="line-length-xl mx-auto">
    <p class="font-size-lg font-weight-xl mb-md">{{ list_title or "Posts" }}</p>
    <ul class="unlisted">
      {% for post in collections.posts %}
      <li class="mb-sm border-bottom pb-sm">
        <time class="font-size-sm text-muted" datetime="{{ post.date | isoDate }}">{{ post.date | postDate }}</time>
        <p class="mt-xs">
          <a href="{{ post.url }}" class="font-weight-xl undecorated">{{ post.data.title | escape }}</a>
        </p>
      </li>
      {% endfor %}
    </ul>
    <p class="mt-lg font-size-sm"><a href="/feed.xml">Subscribe via RSS</a></p>
  </div>
</div>
{% endif %}
