---
layout: default
---

<div>

  {% if title %}
  <header>
    <h1>{{ title }}</h1>
  </header>
  {% endif %}

  <section>
    {{ content | safe }}
  </section>

  {% if collections.posts.length > 0 %}
    <p class="h4">{{ list_title or "Posts" }}</p>
    <ul class="list-unstyled">
      {% for post in collections.posts %}
      <li>
        <span class="text-muted">
          <time datetime="{{ post.date | isoDate }}">{{ post.date | postDate }}</time>
        </span>
        <p class="h5">
          <a href="{{ post.url }}">{{ post.data.title | escape }}</a>
        </p>
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
  {% endif %}

</div>
